css

body, ul{
  margin: 0;
  padding: 0;
}
 .navbar li {
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
  display: flex;
 }
 .navbar li a {
  flex: 1;
 }
 .navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }
  .navbarli a:hover {
    background-color: #111;
  }
